h1{
  font-family: sans-serif;
}

td{
  /*: 1px solid blue;*/

}

table{
/*  outline: 1px solid green;*/
}

td{
  display: block;
  padding: 0;
  float: left;
  height: 160px;
}

img{

  display: block;
  height: 140px;
  width: 140px;
  padding: 7px;
  -webkit-filter: contrast(50%);
}

.name{
  display: block;
  text-align: right;
  padding-right: 13px;
  position: relative;
  bottom: 30px;
  font-size: 12px;
  font-family: 'Pacifico', cursive;
  color: white;
}
